
@import 'reset';
@import 'variables';
@import 'mixins';


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

