
@media (max-width: 1230px) {
    .container {
        width: 90%;
      }
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    .fa-burger {
        display: inline-block;
    }
}